.c-footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background:rgba(#000000, 0.1);
}
.c-audio-player-wrapper{
  text-align: center;
  margin: auto;
}

.c-audio-player-wrapper .c-track-title{
  color:rgb(0, 0, 0);
  font-size: 16px;
  margin: 20px;
}

.c-audio-player-wrapper .c-slider, .c-progress {
    width: 80%;
    height: 10px;
    margin: 15px auto 0 auto;
    border-radius: 5px;

    -webkit-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,.3), 0 1px #cef3ee;
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,.3), 0 1px #cef3ee;
}
.c-audio-player-wrapper .c-progress {
    background: #e08a5f;
    position: relative;
    -webkit-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,.3);
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,.3);
}


//invisibleYTPlayer
.c-play-button-wrapper .invisibleYTPlayer{
  display: none;
}

//play Buttons
.c-play-button-wrapper{
  display: table;
  height:100px;
  float:left;
  width: 400px;
  margin: auto;
}
.c-play-button-wrapper .c-button{
  display: table-cell;
  background-size: contain;
  resize: both;

}

.c-play-button-wrapper .c-button :hover{

}
.c-play-button-wrapper .c-button-play{
  background:url('assets/images/play-button.png')center right no-repeat;;
}
.c-play-button-wrapper .c-button-pause{
  background:url('assets/images/pause-button.png')center right no-repeat;;
}

.c-play-button-wrapper .c-button-previous{
  background:url('assets/images/previous-button.png') center right no-repeat;;
}

.c-play-button-wrapper .c-button-next{
  background:url('assets/images/next-button.png')center right no-repeat;;
}
