.c-footer {
  position:fixed;
    left:0px;
    bottom:0px;
    height:75px;
    width:100%;
    background:rgba(#000000, 0.65);
}
.c-audio-player-wrapper{
  text-align: center;
  height: 100%;
  background:rgba(#cccccc, 1);
}

.c-audio-player-wrapper .c-track-title{
  color:rgb(0, 0, 0);
  font-size: 15px;
}

.c-audio-player-wrapper .c-slider,.c-progress {
    width: 85%;
    height: 10px;
    background: #7d6e67;
    margin: 15px auto 0 auto;
    border-radius: 5px;

    -webkit-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,.3), 0 1px #cef3ee;
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,.3), 0 1px #cef3ee;
}
.c-audio-player-wrapper .c-progress {
    background: #e08a5f;
    position: relative;

    -webkit-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,.3);
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0,.3);
}

.c-play-button-wrapper .c-button{
  width: 80px;
  height:80px;
  padding:0 4px 0 0;
  white-space:nowrap;
  cursor: hand;
}
.c-play-button-wrapper .c-button :hover{

}
.c-play-button-wrapper .c-button-play{
  background:url('assets/images/play-button.png')center right no-repeat;;
}

.c-play-button-wrapper .c-button-pause{
  background:url('assets/images/pause-button.png') center right no-repeat;;
}
