@import 'variables.scss';

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid #ccc;
  height: 70px;
  line-height: 70px;
  padding: 10px;
  display: flex;

  @media screen and (min-width: $screen-lg) {
    padding: 0 60px;
    height: 100px;
    line-height: 100px;
  }

  &__logo {
    display: inline-block;
    margin: auto 0;
  }

  &__search {
    display: none;
    flex: 1;
    height: 50px;
    font-size: 20px;
    padding: 10px 10px 10px 60px;
    border: none;
    border: 2px solid #f2f2f2;
    margin: auto 25%;

    @media screen and (min-width: $screen-md) {
      display: block;
    }

    @media screen and (min-width: $screen-lg) {
      height: 60px
    }

    &::-webkit-input-placeholder {
      font-size: 16px;
    }

    &:after {
      //search icon
    }
  }

  &__element {
    color: #66cc00;
    transition: color 0.8s;

    &:hover {
      color: #99ff33;
    }
  }

  &__dropdown {
    float: right;
    position: relative;
    line-height: 25px;
    margin: auto 0;
    display: inline-block;
    color: #66cc00;

    @media screen and (min-width: $screen-md) {
      float: none;
    }

    &:hover {
      .c-header__dropdown__content {
        opacity: 1;
      }
    }

    &__content {
      border: 1px solid #ccc;
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      opacity: 0;
      transition: opacity 0.8s;
      transform: translate(-50%, 100%);
    }

    &__field {
      text-align: center;
      display: block;
      padding: 20px 40px;
      color: #66cc00;
      background-color: white;
      transition: background-color 0.8s, color 0.8s;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #99ff33;
        background-color: #f2f2f2;
        text-decoration: none;
      }
    }
  }
}
