@import 'variables.scss';

.c-header {
  position: fixed;
  top: 0;
  width:100%;
  background: $background-header;
  border-bottom: 1px solid #ccc;
  margin: 0;
  z-index: 99;


  &__logo {
    background:url('assets/images/logo.png')center right no-repeat;
    background-size: cover;
    height: 100px;
    width: auto;
    resize: both;

    @media screen and (max-width: $screen-lg) {
      background:url('assets/images/logosmall.png')center right no-repeat;
  }
    @media screen and (max-width: $screen-sm) {
      display: none;
  }
}

  &__search{
        padding: 24px;
        .form-control{
        border-right:0;
	      box-shadow:0 0 0;
	      border-color:#ccc;
        height: 55px;

        &:hover + .input-group-addon{
          background-color: $formbackgroundgreen;
        }

        &:focus{
          box-shadow: $boxshadowgreen;
        }
        &:focus + .input-group-addon{
          background-color: $formbackgroundgreen;
          box-shadow: $boxshadowgreen;
        }
    }
    .input-group-addon{
      background-color: $formbackgroundgreen_light;

    }
    button{
        border:0;
        background:transparent;
    }
  }

  &__dropdown {
    display: block;

    &_title{
      font-size: 18px;
      color: rgba(231, 254, 232, 1);
      line-height: 100px;
      float: right;
      padding-right: 22px;
    }

    @media screen and (max-width: $screen-md) {
      display: none;
  }

    &:hover {
      .c-header__dropdown__content {
        opacity: 1;
      }
    }

    &__content {
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      bottom: -5px;
      right: -75px;
      display: block;
      opacity: 0;
      transition: opacity 0.8s;
      transform: translate(-50%, 100%);
    }

    &__field {
      width: 150px;
      text-align: center;
      display: block;
      padding: 5px 5px;
      color: rgba(202, 245, 204, 1);
      background-color: rgba(0, 0, 0, 0.8);
      transition: background-color 0.8s, color 0.8s;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #99ff33;
        background-color: #f2f2f2;
        text-decoration: none;
      }
    }
  }
}
