html, body {
    height: 100%;
}

.o-error {
  color: red;
}

.c-register-container {
  width: 40%;
}

.c-register-form-container {
  height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
