//breakpoints
$screen-xxs: 320px;
$screen-xs: 375px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1400px;



//colors
$background-header: rgba(0, 0, 0, 0.8);
$background-footer: rgba(#000000, 0.1);

//boxshadow
$boxshadowgreen: -1px 0 9px 1px rgba(61, 242, 73, 0.5);
$boxshadowgreen_light: -1px 0 9px 1px rgba(61, 242, 73, 0.3);

//input forms
$formbackgroundgreen: rgba(203, 247, 204, 1);
$formbackgroundgreen_light: rgba(214, 250, 215, 1);
